openapi: 3.0.3
info:
  title: Creatify AI Avatar AI Shorts API
  description: 'The Creatify API generates AI avatar and marketing videos programmatically. It turns product URLs, scripts, images, and text into short-form video ads narrated by ultra-realistic AI avatars. All endpoints are REST over HTTPS under https://api.creatify.ai/api and are authenticated with two headers, X-API-ID and X-API-KEY, issued from the in-app API Dashboard at app.creatify.ai (API access requires an active paid subscription).


    Media generation is asynchronous: a POST creates a job and returns an id with a status ("pending"), and the caller polls GET /{resource}/{id}/ until status is "done" (or "error"). Some endpoints additionally accept a webhook_url and POST a status update to the caller on completion. There is no WebSocket or SSE surface. Usage is metered in credits (roughly 5 credits per 30 seconds of video and 1 credit per 30 seconds of audio).


    Endpoints tagged with x-modeled: true below are inferred from Creatify''s documented product areas plus the platform''s consistent /api/{resource}/ + /api/{resource}/{id}/ convention, because a fully published reference page for the exact path was not available at authoring time. Verify their request/response schemas against docs.creatify.ai.'
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: AI Shorts
  description: Convert a text script into a short-form video (deprecated).
paths:
  /ai_shorts/:
    post:
      operationId: createAiShort
      tags:
      - AI Shorts
      summary: Create an AI short video
      description: Convert a text script into a short-form video. Billed 5 credits. Note - documented by Creatify as deprecated in favor of Link-to-Video and AI Avatar.
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                script:
                  type: string
                aspect_ratio:
                  type: string
                  example: 9x16
                style:
                  type: string
                  example: 4K realistic
      responses:
        '200':
          description: The created AI short job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listAiShorts
      tags:
      - AI Shorts
      summary: List AI short videos
      deprecated: true
      responses:
        '200':
          description: A list of AI short jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ai_shorts/{id}/:
    get:
      operationId: getAiShort
      tags:
      - AI Shorts
      summary: Get an AI short video
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The AI short job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /inspiration_jobs/:
    get:
      operationId: listInspirationJobs
      tags:
      - AI Shorts
      summary: List inspiration jobs
      responses:
        '200':
          description: A list of inspiration jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createInspirationJob
      tags:
      - AI Shorts
      summary: Create an inspiration job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The created inspiration job.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    VideoJob:
      type: object
      description: A generic asynchronous video-generation job.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - in_queue
          - running
          - done
          - error
        progress:
          type: string
        failed_reason:
          type: string
          nullable: true
        credits_used:
          type: number
        duration:
          type: integer
        video_output:
          type: string
          format: uri
          nullable: true
        video_thumbnail:
          type: string
          format: uri
          nullable: true
        output:
          type: string
          format: uri
          nullable: true
        aspect_ratio:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
