openapi: 3.2.0
info:
  title: Creatify AI Shorts API
  description: The Creatify API generates AI avatar and marketing videos programmatically.
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: AI Shorts
  description: Convert a text script into a short-form video (deprecated).
paths:
  /ai_shorts/:
    post:
      operationId: createAiShort
      tags:
      - AI Shorts
      summary: Create an AI short video
      description: Convert a text script into a short-form video. Billed 5 credits. Note - documented by Creatify as deprecated in favor of Link-to-Video and AI Avatar.
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                script:
                  type: string
                aspect_ratio:
                  type: string
                  example: 9x16
                style:
                  type: string
                  example: 4K realistic
      responses:
        '200':
          description: The created AI short job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listAiShorts
      tags:
      - AI Shorts
      summary: List AI short videos
      deprecated: true
      responses:
        '200':
          description: A list of AI short jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ai_shorts/{id}/:
    get:
      operationId: getAiShort
      tags:
      - AI Shorts
      summary: Get an AI short video
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The AI short job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /inspiration_jobs/:
    get:
      operationId: listInspirationJobs
      tags:
      - AI Shorts
      summary: List inspiration jobs
      responses:
        '200':
          description: A list of inspiration jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createInspirationJob
      tags:
      - AI Shorts
      summary: Create an inspiration job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The created inspiration job.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
  schemas:
    VideoJob:
      type: object
      description: A generic asynchronous video-generation job.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - in_queue
          - running
          - done
          - error
        progress:
          type: string
        failed_reason:
          type:
          - string
          - 'null'
        credits_used:
          type: number
        duration:
          type: integer
        video_output:
          type:
          - string
          - 'null'
          format: uri
        video_thumbnail:
          type:
          - string
          - 'null'
          format: uri
        output:
          type:
          - string
          - 'null'
          format: uri
        aspect_ratio:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
