openapi: 3.2.0
info:
  title: Creatify Text To Speech API
  description: The Creatify API generates AI avatar and marketing videos programmatically.
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: Text To Speech
  description: Generate voiceovers from text.
paths:
  /text_to_speech/:
    post:
      operationId: createTextToSpeech
      tags:
      - Text To Speech
      summary: Generate speech from text
      description: Generate an ultra-realistic voiceover from text (up to 8000 characters). Billed 1 credit per 30 seconds of audio. Supports a webhook_url for completion notification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - script
              properties:
                script:
                  type: string
                  maxLength: 8000
                  description: Text to be converted to speech.
                accent:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  description: Accent/voice to be used for the speech.
                webhook_url:
                  type:
                  - string
                  - 'null'
                  format: uri
                  maxLength: 200
                  description: Webhook URL for status updates.
      responses:
        '200':
          description: The created text-to-speech job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /text_to_speech/{id}/:
    get:
      operationId: getTextToSpeech
      tags:
      - Text To Speech
      summary: Get a text-to-speech job
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The text-to-speech job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
    AudioJob:
      type: object
      description: A text-to-speech audio-generation job.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - running
          - done
          - error
        output:
          type:
          - string
          - 'null'
          format: uri
        credits_used:
          type: number
        duration:
          type: integer
        failed_reason:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
