openapi: 3.2.0
info:
  title: Creatify Personas API
  description: The Creatify API generates AI avatar and marketing videos programmatically.
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: Personas
  description: Catalog of 1500+ AI avatars/personas.
paths:
  /personas/:
    get:
      operationId: listPersonas
      tags:
      - Personas
      summary: Get all available avatars
      description: List the catalog of 1500+ realistic AI avatars/personas.
      responses:
        '200':
          description: A list of personas.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Persona'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /personas/paginated/:
    get:
      operationId: listPersonasPaginated
      tags:
      - Personas
      summary: Get all available avatars with pagination
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of personas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                  previous:
                    type:
                    - string
                    - 'null'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Persona'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /personas/{id}/:
    get:
      operationId: getPersona
      tags:
      - Personas
      summary: Get avatar by id
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The persona.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Persona'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
  schemas:
    Persona:
      type: object
      description: An AI avatar/persona in the catalog.
      properties:
        id:
          type: string
          format: uuid
        creator_name:
          type: string
        gender:
          type: string
        age_range:
          type: string
        style:
          type: string
        preview_image_1_1:
          type: string
          format: uri
        preview_video_1_1:
          type: string
          format: uri
        is_active:
          type: boolean
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
