openapi: 3.2.0
info:
  title: Creatify Music API
  description: The Creatify API generates AI avatar and marketing videos programmatically.
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: Music
  description: Background-music categories and tracks (modeled).
paths:
  /music_categories/:
    get:
      operationId: listMusicCategories
      tags:
      - Music
      summary: Get music categories
      description: List background-music categories. Modeled path - verify against docs.creatify.ai.
      x-modeled: true
      responses:
        '200':
          description: A list of music categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /musics/:
    get:
      operationId: listMusics
      tags:
      - Music
      summary: Get musics
      description: List background-music tracks. Modeled path - verify against docs.creatify.ai.
      x-modeled: true
      responses:
        '200':
          description: A list of music tracks.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
