openapi: 3.2.0
info:
  title: Creatify Link To Video API
  description: The Creatify API generates AI avatar and marketing videos programmatically.
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: Link-to-Video
  description: Turn a URL into a short-form video ad.
paths:
  /links/:
    post:
      operationId: createLink
      tags:
      - Link-to-Video
      summary: Create a link from a URL
      description: Create a Creatify link by scraping a product or landing-page URL. The resulting link id is used to generate a link-to-video job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                  format: uri
                  description: The product or landing-page URL to convert.
      responses:
        '200':
          description: The created link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /link_to_videos/:
    get:
      operationId: listLinkToVideos
      tags:
      - Link-to-Video
      summary: List link-to-video jobs
      responses:
        '200':
          description: A list of link-to-video jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createLinkToVideo
      tags:
      - Link-to-Video
      summary: Create a link-to-video job
      description: Create a video-generation job from a link. Returns immediately with a job id and status; poll GET /link_to_videos/{id}/ for progress.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                link:
                  type: string
                  description: The link id to build the video from.
                target_platform:
                  type: string
                  example: Facebook
                language:
                  type: string
                  example: en
                video_length:
                  type: integer
                  example: 30
                aspect_ratio:
                  type: string
                  example: 9x16
                script_style:
                  type: string
                visual_style:
                  type: string
                webhook_url:
                  type:
                  - string
                  - 'null'
                  format: uri
      responses:
        '200':
          description: The created link-to-video job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /link_to_videos/{id}/:
    get:
      operationId: getLinkToVideo
      tags:
      - Link-to-Video
      summary: Get a link-to-video job
      description: Poll the status and progress of a link-to-video job.
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The link-to-video job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /link_to_videos/{id}/render/:
    post:
      operationId: renderLinkToVideo
      tags:
      - Link-to-Video
      summary: Render a link-to-video job
      description: Render a previewed link-to-video job to final video. Billed 4 credits per 30 seconds (Standard 5 credits/30s; Aurora 1 credit/second; Aurora fast 0.5 credit/second).
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The rendering link-to-video job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
  schemas:
    VideoJob:
      type: object
      description: A generic asynchronous video-generation job.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - in_queue
          - running
          - done
          - error
        progress:
          type: string
        failed_reason:
          type:
          - string
          - 'null'
        credits_used:
          type: number
        duration:
          type: integer
        video_output:
          type:
          - string
          - 'null'
          format: uri
        video_thumbnail:
          type:
          - string
          - 'null'
          format: uri
        output:
          type:
          - string
          - 'null'
          format: uri
        aspect_ratio:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Link:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        title:
          type: string
        description:
          type: string
        image_urls:
          type: array
          items:
            type: string
            format: uri
        video_urls:
          type: array
          items:
            type: string
            format: uri
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
