openapi: 3.2.0
info:
  title: Creatify Voices API
  description: The Creatify API generates AI avatar and marketing videos programmatically.
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: Voices
  description: Catalog of AI voices and accents.
paths:
  /voices/:
    get:
      operationId: listVoices
      tags:
      - Voices
      summary: Get all available voices
      responses:
        '200':
          description: A list of voices.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Voice'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /voices/paginated/:
    get:
      operationId: listVoicesPaginated
      tags:
      - Voices
      summary: Get voices with pagination
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of voices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                  previous:
                    type:
                    - string
                    - 'null'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
    Voice:
      type: object
      description: An AI voice / accent.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        gender:
          type: string
        language:
          type: string
        accents:
          type: array
          items:
            type: object
            additionalProperties: true
        preview_url:
          type: string
          format: uri
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
