openapi: 3.2.0
info:
  title: Creatify Custom Templates API
  description: The Creatify API generates AI avatar and marketing videos programmatically.
  version: '1.0'
  contact:
    name: Creatify
    url: https://creatify.ai
servers:
- url: https://api.creatify.ai/api
  description: Creatify API
security:
- apiId: []
  apiKey: []
tags:
- name: Custom Templates
  description: Generate videos from customizable templates (modeled).
paths:
  /custom_templates/:
    post:
      operationId: createCustomTemplateVideo
      tags:
      - Custom Templates
      summary: Create a video from a custom template
      description: Generate a video from a customizable template by supplying template variables. Modeled path - verify against docs.creatify.ai.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The created template video job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /custom_templates/{id}/:
    get:
      operationId: getCustomTemplateVideo
      tags:
      - Custom Templates
      summary: Get a custom template video
      x-modeled: true
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The template video job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
  schemas:
    VideoJob:
      type: object
      description: A generic asynchronous video-generation job.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - in_queue
          - running
          - done
          - error
        progress:
          type: string
        failed_reason:
          type:
          - string
          - 'null'
        credits_used:
          type: number
        duration:
          type: integer
        video_output:
          type:
          - string
          - 'null'
          format: uri
        video_thumbnail:
          type:
          - string
          - 'null'
          format: uri
        output:
          type:
          - string
          - 'null'
          format: uri
        aspect_ratio:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-API-ID / X-API-KEY headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiId:
      type: apiKey
      in: header
      name: X-API-ID
      description: Your unique Creatify API identifier from the in-app API Dashboard.
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Your secret Creatify API key. Keep it server-side.
